/* 
	Flex: 
	ORder:  como el z index, pero en el eje en que apunta el main axis
	mientras, sirve para posicionar un elemento arriba del otro;
	POSICIONA EL ELEMENTO MAS GRANDE

*/ 

* {
	font-family: 'Lobster', cursive;
	font-weight: 100;
}

body {
	background-color: #000;
}

.flex-container {
	display: flex;
	/**lo  centramos verticalmente*/
	align-items: center;
	/**para que cuando lo hagamos responsive
	 * se pueda deslizar*/
	 flex-wrap: wrap;
	 /***permite que el icono quede centrado
	 y no se corra para abajo*/
	 justify-content: center;
	 background: #222;
	 /**el primero es 50px de margin arriba y abajo y 30 a los costados**/	 
	 margin: 50px 50px;
	 padding: 20px;
	 /**MARCO DE AFUERA*/
	 border: 14px solid #000;
	 outline: 4px solid #094;
}

/**contenedor Form*/
.form {
	/**alejo el icono 400px hacia la derecha*/
	min-width: 400px;
	/**me pone el icono por debajo*/
	flex: 1;
	/**alinie el formulario al lado de la imagen del icono */
	text-align: center;
	padding: 30px;
	/**CAMBIO EL ORDEN DEL ICONO**/
	order:5;

}
.form__input {
	width: 100%;
	/**la parte blanca la amplio*/
	padding: 7px;
	/**lo que separo un input del otro*/
	margin: 6px 0;
	/**saco los bordes de los inputs**/
	border: none;
	/**puedo ponerlo en border-left y lo celeste se pinta  del lado izquierdo**/
	border-bottom: 3px solid #094;
	/**background: #000;*/
	background: transparent;
	/**letra*/
	color: #fff;

}

.form__input:focus {
	/**background: #333;*/
	background: linear-gradient(to bottom, transparent, #111);
	outline: none;
	border-bottom: 3px solid #5f9;
}
.form textarea {
	/**la parte blanca la amplio*/
	min-height: 140px;
	/**evito que al escribir el texto se corra el textarea y quede 
	 * desprolijo*/
	resize: none;
}

.form-img {
	flex: 1;
	display: flex;
	padding: 10px;
	/**PARA QUE NO SE ACHIQUE LA IMAGEN DEL ICONO**/
	/**CUANDO LLEGA A 300PX SE VA PARA ABAJO*/
	min-width: 300PX;
	max-width: 400px;
	order:2;
}

.form-img div {
	padding: 10px;
	
}

.img-container {
	
	margin: auto;
	
	 /**se achica y luego va hacia abajo*/
	 /**margin: auto;*/
 	
}

.img-container div {
	/**FONDO DEL ICONO VERDE!!*/
	background-color: #094;
	border-radius: 50%;
	/*permite centrar el div dentro del ovalo**/
	text-align: center;
	padding: 40px;
}
/**tabajo en imagen, circulo, fondo blanco*/
.form-img img {
	/**tamanio de imagen */
 	width: 90%;
 	/**puede no estar*/
	margin: auto;

}

/**SELECCIONAMOS POR ATRIBUTO*/
.form input[type="submit"] {
	background-color: #094;
	background-bottom:none;
	padding:12px;
	/***AGREGO*/
	width:100%;
	color:#fff;
}

.form input[type="submit"]:hover {
	background-color: #072;
	background-bottom:none;
	padding:12px;
}

.form input[type="submit"]:focus {
	background: #094;
}

.form input[type="submit"]: active {
	background: linear-gradient(to bottom, #072, #050);
}
