/* 
	Flex: ;
PROPIEDADES DE LOS ITEMS
VAMOS A PODER MODIFICAR CADA ITEM EN PARTICULAR
Y DARLES OTRAS PROPIEDADES Y HACER OTRAS COSAS, ANCHO
LARGO, POSICION (MENU-ASIDE-SECCION PRINCIPAL-FOOTER)

PROPIEDADES: 
align-self
flesx-grow: ;
flex-shrink
flex-basis
flex-flex-grow
order
*/

* {
	font-family: 'Lobster', cursive;
	font-weight: 100;
}

.flex-container {
	display: flex;
	justify-content: space-evenly;
	height: 100vh;
}

.flex-item {
	background-color: #248;
	color: #fff;
	margin: 5px;
	min-width:120px;
	text-align: center;
	height: 100px;
	margin-top: auto;
}

.orange {
	background: orange;
}

.green {
	background: green;
}