/* 
	Flex: ;
PROPIEDADES DE LOS ITEMS
VAMOS A PODER MODIFICAR CADA ITEM EN PARTICULAR
Y DARLES OTRAS PROPIEDADES Y HACER OTRAS COSAS, ANCHO
LARGO, POSICION (MENU-ASIDE-SECCION PRINCIPAL-FOOTER)

PROPIEDADES: 
align-self
flesx-grow:  el espacio que sobra se reparte entre las cajas;
sabemos que el minimo va a ser 120px(min-width:120px;).
flex-shrink
flex-basis
flex-flex-grow
order
*/

* {
	font-family: 'Lobster', cursive;
	font-weight: 100;
}

.flex-container {
	display: flex;
	height: 100vh;
	/**permite que la caja se vaya a bajo*/
	flex-wrap: wrap;
}

.flex-item {
	background-color: #248;
	color: #fff;
	margin: 5px;
	min-width:150px;
	/**min-width:250px;*/
	text-align: center;
	height: 100px;
	/**FLEX GROW*/
	/*flex-grow: 1;*/
}

.orange {
	background: orange;
	/**todo lo que sobra se lo lleva esta caja 
	 * si tenemos un width de 150 y si nos sobran 250px
	 * esta tendria 450px de div*/
	flex-grow: 1;
}

.green {
	background: green;
	/**PUEDO REPARTIR EL SOBRANTE COMO QUIERA*/
	flex-grow: 1;
}